@font-face {
   font-family: Santion_Light;
   src: url(fonts/Sansation_Light.woff);
}
@font-face {
   font-family: HoneyScript-Light;
   src: url(fonts/HoneyScript-Light.ttf);

}
@font-face {
   font-family: LearningCurve;
   src: url(fonts/LearningCurve.ttf);

}
 @font-face {
	 font-family:"Rock_Elegance";
	 src: url(fonts/Rock_Elegance.ttf) 
 }
@font-face {
	 font-family:"akaDora";
	 src: url(fonts/akaDora.ttf) 
 }
@font-face {
	 font-family:"Champagne_Limousines";
	 src: url(fonts/Champagne_Limousines.ttf);

 }


